/* NAVBAR */
.navbar-brand {
    max-width: 10%;
}

.navbar-brand img {
    width: 100% !important;
    height: auto;
}

@media (max-width: 600px) {
    .navbar-brand {
        max-width: 30% !important;
    }

    .navbar-brand img {
        width: 100% !important;
        height: auto;
    }
}